<%= form_for @contact_info, url: url, method: method, html: {class: 'w-50 mx-auto d-flex align-items-center flex-column'} do |f| %>
  <h3><%= text %></h3>
  <div class='w-100'>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <%= f.label(:email, id: 'email', class: 'input-group-text') do %>
          <i class="fas fa-fw fa-at"></i>
        <% end %>
      </div>
      <%= f.text_field(:email, class: 'form-control', required: true, placeholder: 'Email de Contato', 'aria-describedby': 'email') %>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <%= f.label(:phone, id: 'phone', class: 'input-group-text') do %>
          <i class="fas fa-fw fa-phone"></i>
        <% end %>
      </div>
      <%= f.text_field(:phone, required: true, class: 'form-control', placeholder: 'Telefone de Contato', 'aria-describedby': 'phone') %>
    </div>
    <div class="form-check">
      <%= f.check_box(:active, class: 'form-check-input') %>
      <%= f.label(:active, "Ativar?", class: 'form-check-label') %>
    </div>
  </div>
  <div>
    <%= f.submit('Salvar', class: 'btn btn-success') %>
    <%= link_to 'Voltar', backoffice_contact_infos_path, class: 'btn btn-info' %>
  </div>
<% end %>
